.repository {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 877px;
    min-height: 112px;
    margin: 12px 0 12px 0;
    padding-right: 10px;
    border-radius: 6px;
}

.textWrapper {
    padding: 24px 0 0 32px;
}

.name {
    font-weight: 500;
    font-size: 24px;
    color: #0064EB;
    text-decoration: none;
}

.description {
    padding-top: 16px;
}

@media screen and (max-width: 1340px) {
    .repository {
        width: 777px;
    }
}

@media screen and (max-width: 1240px) {
    .repository {
        width: 677px;
    }
}

@media screen and (max-width: 1140px) {
    .repository {
        width: 577px;
    }
}

@media screen and (max-width: 1040px) {
    .repository {
        width: 477px;
    }
}

@media screen and (max-width: 940px) {
    .repository {
        width: 377px;
    }
}

@media screen and (max-width: 480px) {
    .repository {
        width: 327px;
    }
    .name {
        font-size: 20px;
    }
    .textWrapper {
        padding: 10px 0 0 10px;
    }
}

@media screen and (max-width: 370px) {
    .repository {
        width: 227px;
    }
    .name {
        font-size: 16px;
    }
    .description {
        font-size: 14px;
    } 
}