.initialStateWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    height: 196px;
}

.imgWrapper {
    display: flex;
    width: 110px;
    height: 110px;
    justify-content: center;
    align-items: center;
}